*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-base: 18px;
  --light-grey: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --border-radius: 0.5rem;
  --shadow: 0.5rem 0.625rem 1.5rem 0 hsla(233, 11%, 84%, 0.75);
  --shadow-dark: 0.5rem 0.625rem 1.5rem 0 hsla(235, 21%, 11%, 0.75);
}

body {
  font-size: var(--font-base);
  font-family: "Josefin Sans", sans-serif;
  overflow-x: hidden;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

button {
  cursor: pointer;
}

.todo {
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: var(-very-light-grayish-blue);
}

.dark {
  background-color: var(--very-dark-blue);
}

.todo__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35vh;
  background-image: url(./images/bg-desktop-light.jpg);
  background-position: center;
  background-size: cover;
}

.dark .todo__header {
  background-image: url(./images/bg-desktop-dark.jpg);
}

.todo__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  color: var(--light-grey);
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.todo__themeToggler {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  background-image: url("./images/icon-moon.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.dark .todo__themeToggler {
  background-image: url("./images/icon-sun.svg");
}

.todo__input {
  width: 50vw;
  padding: 1rem;
  border: none;
  font-size: var(--font-base);
  border-radius: var(--border-radius);
  background-color: var(--light-grey);
  color: var(--very-dark-grayish-blue);
}

.dark .todo__input {
  background-color: hsl(235, 24%, 19%);
  color: var(--light-grayish-blue);
}

.todo__input::placeholder {
  color: var(--dark-grayish-blue);
}

.dark .todo__input::placeholder {
  color: var(--light-grayish-blue);
}

.todo__list {
  margin: auto;
  margin-top: -1.75rem;
  width: 50vw;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  background-color: var(--light-grey);
  color: var(--very-dark-grayish-blue);
  box-shadow: var(--shadow);
}

.dark .todo__list {
  background-color: var(--very-dark-desaturated-blue);
  color: var(--light-grayish-blue);
  box-shadow: var(--shadow-dark);
}

.todo__listItem {
  list-style: none;
  border-bottom: 1px solid var(--light-grayish-blue);
}

.todo__listButton {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.5rem 1rem;
  font-size: var(--font-base);
  border: none;
  background: none;
  color: var(--very-dark-grayish-blue);
  text-align: left;
}

.dark .todo__listButton {
  color: var(--light-grayish-blue);
}

.checkIconContainer {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid var(--light-grayish-blue);
  border-radius: 50%;
  margin-right: 1rem;
}

.dark .checkIconContainer {
  border-color: var(--very-dark-grayish-blue);
}

.todo__listItem--active .checkIconContainer {
  position: relative;
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border: none;
}

.todo__listItem--active .checkIconContainer::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("./images/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  margin: auto;
  padding: 1rem;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  background-color: var(--light-grey);
  color: var(--dark-grayish-blue);
  font-size: 0.8rem;
}

.dark .nav {
  background-color: var(--very-dark-desaturated-blue);
}

.nav__filterButton,
.nav__clearCompletedButton {
  border: none;
  background: transparent;
  color: var(--dark-grayish-blue);
}

.nav__filterButtons {
  background-color: var(--light-grey);
}

.dark .nav__filterButtons {
  background-color: var(--very-dark-desaturated-blue);
}

.nav__filterButton {
  margin-right: 1rem;
}

.nav__filterButton:last-child {
  margin-right: 0;
}

.nav__filterButton--active {
  color: hsl(220, 98%, 61%);
}

aside {
  width: 50vw;
  margin: 2rem auto;
  font-size: 0.8rem;
  text-align: center;
  color: var(--dark-grayish-blue);
}

footer {
  padding: 1rem;
}

.dark footer {
  color: var(--light-grayish-blue);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 768px) {
  .todo__title,
  .todo__input,
  .todo__list,
  .nav {
    width: 95vw;
  }

  .nav {
    position: relative;
  }

  .nav__filterButtons {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    width: 95vw;
    border-radius: 0.5rem;
  }

  .nav__filterButton {
    padding: 1rem;
  }

  aside {
    margin-top: 15vh;
  }
}
